@model Irp_Net462.Models.Payment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaymentCategory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentCategory.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CounterCurrent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CounterCurrent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CounterPrev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CounterPrev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentTarif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentTarif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiptDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiptDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receipt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receipt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
