@model IEnumerable<Irp_Net462.Models.Payment>

@{
	ViewBag.Title = "Index";
}

<p>
	@Html.ActionLink("Додати Документи", "Create")
	<span style="float:right">
		@Html.ActionLink("Редагувати Категорії", "Create")
	</span>
</p>
<table class="table">
	<tr>
		<th></th>
		<th>
			Період
		</th>
		<th>
			Категорія
		</th>
		<th>
			Ліч1
		</th>
		<th>
			Ліч2
		</th>
		<th>
			Сума
		</th>
		<th>
			Тариф
		</th>
		<th>
			Рахунок
		</th>
		<th>
			Оплата
		</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.ActionLink(".", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-pencil" })
			</td>
			<td>
				@item.PaymentPeriod.ToString("yyyy-MM")
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.PaymentCategory.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CounterPrev)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CounterCurrent)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Amount)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CurrentTarif)
			</td>
			<td>
				@if (item.Order.ToString() != "none")
				{
					@Html.ActionLink(item.OrderDate.ToString("dd.MM.yyyy"), "GetFile", "Payments", new { fileName = @Html.DisplayFor(modelItem => item.Order) }, new { @target = "_blank" })
				}
			</td>
			<td>
				@if (item.Receipt.ToString() != "none")
				{
					@Html.ActionLink(item.ReceiptDate.ToString("dd.MM.yyyy"), "GetFile", "Payments", new { fileName = @Html.DisplayFor(modelItem => item.Receipt) }, new { @target = "_blank" })
				}
			</td>
		</tr>
	}

</table>
